.EP_Educandu_Gap_Genius_Display {
  
}

.EP_Educandu_Gap_Genius_Display-time {
  font-style: italic;
  margin-top: @edu-page-content-padding;
}

.EP_Educandu_Gap_Genius_Editor {

  // @edu-disabled-color: #E6E6E6;
  // @edu-error-color: #B02E0C;
  .ant-input-outlined.ant-input-disabled,
  .ant-input-outlined[disabled] {
    color: @edu-error-color !important;
  }

  .btuttonColorVariables {
    background-color: @edu-success-color;
  }

  .btuttonColorText {
    // noch durch Varaible ersetzen
    background-color: #6d8bb1;
  }
  
  .messageArea {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: @edu-success-color;
    font-weight: bold;
  }
}
